<style>
@font-face {
  font-family: 'facebook';
  src: url('https://static.xx.fbcdn.net/rsrc.php/yQ/r/-pkMfchyeAZ.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.fbcount {
  background-image: linear-gradient(#0064e0, #1877f2);
  position: relative;
  color: white;
  font-family: facebook, Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 1.5625rem;
  padding: 1em;
  padding-bottom: 1.5em;
  
  p {
    margin-block: 0.5em;
  }
  
  .countdown {
    font-size: 1.2em;
  }

  h1 {
    margin-bottom: 0.25em;
  }
}
</style>
<body>

<div class="fbcount">
  <h1>Countdown until I can get a new Facebook account</h1>
  <p class="countdown"></p>
  <p>My old one got terminated for being underage. I just used to use it for Messenger. Not too sad about it, as I was underage and I didn't use Facebook much.</p>
</div>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Sep 22, 2027 8:20:00").getTime();

// Update the count down every 1 second
function countDown() {

  // Get todays date and time
  var now = new Date().getTime();
  
  // Find the distance between now an the count down date
  var distance = countDownDate - now;
  
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  
  // Output the result in the element with .fbcount .countdown
  document.querySelector(".fbcount .countdown").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
  
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(countdownfunction);
    document.getElementById("demo").innerHTML = "Yay! I can make one now.";
  }
}

countDown();
setInterval(countDown, 1000);
</script>